
@{
    ViewData["Title"] = "Social media information details";
    SocialDetailViewModel socialVM = Model;
}

<div class="section-header">
    <h1>Social media information details</h1>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="container">
                    <div class="detail-content" style="padding-top: 20px; padding-bottom: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-item">
                                    <h4>Social Media Name:</h4>
                                    <p>@socialVM.SocialName</p>
                                </div>
                                <div class="card-item">
                                    <h4>Social Media Link:</h4>
                                    <p>
                                        <a href="@socialVM.SocialLink">@socialVM.SocialName link</a>
                                    </p>
                                </div>
                                <div class="card-item">
                                    <h4>Social Media Icon:</h4>
                                    <p>@Html.Raw(socialVM.SocialIcon)</p>
                                </div>
                                <div class="card-item">
                                    <h4>Social Media Icon Code:</h4>
                                    <p>@socialVM.SocialIcon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a asp-action="index" class="btn btn-info"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

